:root {
    font-family: 'Bright Aura', serif;
}

@font-face {
    font-family: 'Daily Memo';
    src: url('Fonts/Daily Memo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bright Aura';
    src: url('Fonts/Bright Aura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

a {
    text-decoration: none;
    color: #979797;
}

h1 {
    text-align: center;
    color: #6A6A6A;
}
h2 {
    text-align: center;
    color: #828282;
}

.backgroundPanel {
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    background-color: #4B4B4B;
    border-radius: 20px;
}