<div class="navmenu">
    <div class="navbar-title">
        <a href="">Rogueblox Builder</a>
    </div>

    <nav class="navbar-list">
        <div class="navbar-item">
            <NavLink class="navbar-link" href="" Match="NavLinkMatch.All">
                Builder
            </NavLink>
        </div>

        <div class="navbar-item">
            <NavLink class="navbar-link" href="wiki" Match="NavLinkMatch.All">
                Wiki
            </NavLink>
        </div>
    </nav>
</div>
